.btn-gradient {
  /* Форма кнопки: pill-shaped */
  border: solid;
  border-radius: 50px;

  /* Градиентный фон: слева жёлтый, справа красный */
  background: linear-gradient(90deg, #ff0000 0%, #ff00c8 100%);

  /* Текст иконка */
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  font-family: 'Arial', sans-serif;

  /* Отступы, размер */
  padding: 10px 50px;
}



        /* Базовые стили для адаптивности */
        body {
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            font-family: Arial, sans-serif;
            margin: 0 auto;
            padding: 0;
        }
        body.zoom-in { transform: scale(1.0); 
        }
        .container {
            width: 100%;
            padding: 15px;
            box-sizing: border-box;
        }

        @media (min-width: 768px) {
            .container {
                width: 90%;
                max-width: 1600px;
                margin: 0 auto;
            }
        }

        
        /* Стили для мобильной версии */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        
        .product-table {
            width: 100%;
            border-collapse: collapse;
        }
        
        .product-table th,
        .product-table td {
            padding: 10px;
            text-align: left;
        }
        
        @media (max-width: 767px) {
            .product-table {
                display: flex;
                flex-direction: column;
            }

            
            .product-table thead {
                display: none;
            }
            
            .product-table tr {
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                border: 1px solid #ccc;
            }
            
            .product-table td {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .product-table img {
                width: 100%;
                max-width: 200px;
            }
}

        .hero-section {
            padding: 50px 0;
        }
        
        .hero-section h1 {
            font-size: 3.5rem; /* Большой заголовок */
            margin-bottom: 20px;
            font-weight: 700;
        }
        
        .hero-section p {
            font-size: 1.2rem; /* Увеличенный размер текста */
            max-width: 800px;
            line-height: 1.8;
        }

